@import 'ember-paper';
@import 'fonts';

html, body {
  background-color: #E8E8E8;
  width: 100%;
  min-width: 275px;
  font-family: Roboto;
}

.md-sidenav {
  &-left {
    position: fixed;
    background-color: #E8E8E8!important;
  }

  &-backdrop {
    position: fixed;
  }
}

// Main
.main {
  &-menu {
    position: fixed;
    background-color: #222 !important;
  }

  &-content {
    background-color: #E8E8E8!important;
    padding-top: 50px;
  }

  &-social-media {
    cursor: pointer;
    margin-left: -40px;

    &-first {
      margin-left: auto;
      cursor: pointer;
    }
  }
}

// Side
.side {
  &-menu {
    background-color: #222 !important;
  }

  &-content {
    background-color: #E8E8E8!important;

    &-item {
      border: 1px;
    }
  }

  &-footer {
    background-color: #222 !important;
    color: #7B7B7B;
    font-size: 14px;

    &-span{
      margin-left: auto;
      margin-right: auto;

      &-first {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &-logo {
    height: 58px;
    margin-top: 10px;
    margin-left: 20px;
  }
}

// Index

.index {
  &-content {
    padding: 10px 10px 10px 10px;
    margin-top: 30px;
  }
}

// Home

.home {
  &-content {
    padding: 10px 10px 10px 10px;
    margin-top: 30px;
  }
}

// About US

.about-us {
  &-content {
    padding: 10px 10px 10px 10px;
    margin-top: 30px;
  }
}

// Product

.product {
  &-content {
    padding: 10px 10px 10px 10px;
    margin-top: 30px;
  }
}

// Contact

.contact {
  &-content {
    padding: 10px 10px 10px 10px;
    margin-top: 30px;
  }
}