@import 'ember-paper';
@import 'fonts';

html, body {
  background-color: #E8E8E8;
  width:            100%;
  min-width:        275px;
  font-family:      Roboto;
}

.md-sidenav {
  &-left {
    position:         fixed;
    background-color: #E8E8E8!important;
  }

  &-backdrop {
    position: fixed;
  }
}

// Main
.main {
  &-menu {
    position:         fixed;
    height:           75px;
    background-image: linear-gradient(#BB291F, rgb(80, 8, 2)) !important;

    &-icon {
      padding-top: 15px;
    }

    &-logo {
      width:      150px;
      margin-top: 5px;
    }
  }

  &-content {
    background-color: #0A0A0A!important;
    color:            #FFFAE8 !important;
    padding-top:      50px;
  }

  &-banner {
    background-color: #FFF;
    padding-top:      50px;
    padding-bottom:   100px;
    margin-left:      -15px;
    margin-right:     -15px !important;

    &-image {
      width:        60%;
      margin-left:  auto;
      margin-right: auto;
    }
  }

  &-overlay {
    height:           85px;
    min-width:        600px;
    width:            75%;
    margin-top:       -50px;
    margin-left:      auto;
    margin-right:     auto;
    background-image: linear-gradient(#BB291F, rgb(80, 8, 2));

    &-tekst {
      font-size:    40px;
      margin-left:  auto;
      margin-right: auto;
      margin-top:   11px;
    }
  }

  &-social-media {
    cursor:      pointer;
    margin-left: -40px;

    &-first {
      margin-left:  auto;
      margin-right: 25px;
      cursor:       pointer;
    }
  }
}

// Side
.side {
  &-menu {
    height:           75px;
    background-image: linear-gradient(#BB291F, rgb(80, 8, 2)) !important;
  }

  &-content {
    min-height:       100%;
    margin-bottom:    -139px;
    background-color: #FFF!important;

    &-subitem {
      background-color: #EEE!important;
      padding-left:     40px;
    }

    &-sort {
      cursor:        pointer;
      margin-left:   150px;
      margin-bottom: 10px;
    }
  }

  &-footer {
    background-image: linear-gradient(#BB291F, rgb(80, 8, 2)) !important;
    color:            #7B7B7B;
    font-size:        14px;

    &-span{
      margin-left:  auto;
      margin-right: auto;

      &-first {
        margin-top:   10px;
        margin-left:  auto;
        margin-right: auto;
      }
    }
  }

  &-logo {
    width:       150px;
    margin-left: 20px;
    margin-top:  5px;
  }
}

// Index

.index {
  &-content {
    padding:    10px 10px 10px 10px;
    margin-top: 30px;
  }
}

// Home

.home {
  &-content {
    padding:    10px 10px 10px 10px;
    margin-top: 30px;
  }
}

// About US

.about-us {
  &-content {
    padding:    10px 10px 10px 10px;
    margin-top: 30px;
  }
}

// Product

.product {
  &-content {
    padding:    10px 10px 10px 10px;
    margin-top: 30px;
  }
}

// Contact

.contact {
  &-content {
    padding:    10px 10px 10px 10px;
    margin-top: 30px;
  }
}